html {
  font-size: 16px;
}
body {
  margin: 0;
  position: relative;
  letter-spacing: 2px;
}
body.fixed {
  overflow: hidden;
}
img {
  max-width: 100%;
}
.container.custom {
  max-width: 1260px;
}

header {
  border-top: 60px solid #82cbc4;
}
header .nav_top {
  display: flex;
  justify-content: center;
  position: relative;
}
header .nav_top .logo {
  width: 150px;
}
header .nav_top ul.toolbar {
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
  display: flex;
  list-style: none;
  font-size: 2rem;
  border-left: 1px dotted #333;
  padding-left: 20px;
  margin-bottom: 0;
}
header .nav_top ul.toolbar li {
  margin-right: 20px;
}
header .nav_top ul.toolbar li a {
  color: #333;
  display: flex;
  align-items: center;
  text-decoration: none;
}
header .nav_top ul.toolbar li a:hover {
  opacity: 0.8;
}
header .nav_top ul.toolbar li a span.num {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #82cbc4;
  color: #fff;
  font-size: 0.8rem;
  margin-left: 5px;
  padding-left: 3px;
}
header ul.nav {
  background-color: #82cbc4;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-size: 2rem;
}
header ul.nav li {
  margin-right: 30px;
}
header ul.nav li:last-child {
  margin-right: 0;
}
header ul.nav li a {
  color: #fff;
  text-decoration: none;
}
header ul.nav li a:hover {
  opacity: 0.8;
}

footer {
  background-color: #82cbc4;
  padding: 30px 0;
}
footer .container {
  display: flex;
}
footer .foot_left {
  flex: 0 0 200px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .foot_left .foot_logo{
  width: 150px;
  margin-bottom: 20px;
}
footer .foot_left .copyright{
  margin-bottom: 20px;
}
footer .foot_left ul.social {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  font-size: 2rem;
}
footer .foot_left ul.social li {
  margin-right: 20px;
}
footer .foot_left ul.social li:last-child {
  margin-right: 0;
}
footer .foot_left ul.social li a {
  color: #fff;
}

@media (max-width: 900px) {
  footer {
    display: block;
  }
}
