html {
  font-size: 16px;
}
body {
  margin: 0;
  position: relative;
  letter-spacing: 2px;
}
body.fixed {
  overflow: hidden;
}
img {
  max-width: 100%;
}
label {
  margin-bottom: 0;
}
.container.custom {
  max-width: 1260px;
}
@media (max-width: 1500px) {
  .container.custom {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container.custom {
    max-width: 960px;
  }
}

header {
  border-top: 60px solid #82cbc4;
}
header .nav_top {
  display: flex;
  justify-content: center;
  position: relative;
}
header .nav_top .menu_btn {
  display: none;
}
header .nav_top .logo {
  width: 150px;
}
header .nav_top .logo a:hover {
  opacity: 0.8;
}
header .nav_top ul.toolbar {
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
  display: flex;
  list-style: none;
  font-size: 2rem;
  border-left: 1px dotted #333;
  padding-left: 20px;
  margin-bottom: 0;
  z-index: 3;
}
header .nav_top ul.toolbar li {
  margin-right: 20px;
  position: relative;
}
header .nav_top ul.toolbar li:last-child {
  margin-right: 0;
}
header .nav_top ul.toolbar li a {
  color: #333;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
header .nav_top ul.toolbar li a:hover {
  opacity: 0.8;
}
header .nav_top ul.toolbar li a span.num {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #82cbc4;
  color: #fff;
  font-size: 0.8rem;
  margin-left: 5px;
  padding-left: 3px;
}
header .nav_top ul.toolbar li .dropDown {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  width: 300px;
  border: 1px solid #bbb;
  padding: 10px 20px;
  background-color: #fff;
  display: none;
  z-index: 4;
}
header .nav_top ul.toolbar li.active .dropDown {
  display: block;
}
header .nav_top ul.toolbar li .dropDown form {
  width: 100%;
  display: flex;
  align-items: center;
}
header .nav_top ul.toolbar li .dropDown form input {
  flex: 1;
  min-width: 0;
  font-size: 1rem;
  margin-right: 10px;
  outline: none;
  border: 1px solid #bbb;
  padding: 3px 10px;
}
header .nav_top ul.toolbar li .dropDown form button {
  font-size: 1rem;
  border: none;
  background-color: #82cbc4;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
}
header .nav_top ul.toolbar li .dropDown .cart_info {
  display: block;
}
header .nav_top ul.toolbar li .dropDown .cart_info .list {
  display: block;
  margin-bottom: 20px;
}
header .nav_top ul.toolbar li .dropDown .cart_info .list .item {
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #333;
}
header .nav_top ul.toolbar li .dropDown .cart_info .list .item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
header .nav_top ul.toolbar li .dropDown .cart_info .list .item .image {
  flex: 0 0 50px;
  margin-right: 10px;
}
header .nav_top ul.toolbar li .dropDown .cart_info .list .item .text {
  font-size: 1rem;
}
header .nav_top ul.toolbar li .dropDown .cart_info .list .item .text .name {
  margin-bottom: 5px;
}
header
  .nav_top
  ul.toolbar
  li
  .dropDown
  .cart_info
  .list
  .item
  .text
  .qty
  label {
  margin-bottom: 0;
}
header .nav_top ul.toolbar li .dropDown .cart_info .to_cart {
  font-size: 1rem;
  background-color: #82cbc4;
  text-align: center;
  display: block;
  color: #fff;
  padding: 10px 0;
  border-radius: 20px;
}
header .nav_top ul.toolbar li .dropDown .login_info {
  display: block;
}
header .nav_top ul.toolbar li .dropDown .login_info a {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #abb4bb;
  font-size: 1.25rem;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  padding: 5px 0;
  color: #fff;
}
header .nav_top ul.toolbar li .dropDown .login_info a:first-child {
  background-color: #abb4bb;
}
header .nav_top ul.toolbar li .dropDown .login_info a:first-child:hover {
  background-color: #86919b;
}
header .nav_top ul.toolbar li .dropDown .login_info a:last-child {
  background-color: #fff;
  margin-bottom: 0;
  border-color: #82cbc4;
  color: #82cbc4;
}
header .nav_top ul.toolbar li .dropDown .login_info a:last-child:hover {
  background-color: #82cbc4;
  color: #fff;
}
header .nav_top ul.toolbar li .dropDown .member_nav ul {
  list-style: none;
  padding-left: 0;
  font-size: 1.25rem;
}
header .nav_top ul.toolbar li .dropDown .member_nav ul li {
  margin-right: 0;
  padding-bottom: 5px;
  border-bottom: 1px dotted #707070;
  margin-bottom: 10px;
}
header .nav_top ul.toolbar li .dropDown .member_nav ul li a {
  color: #333;
}
header .nav_top ul.toolbar li .dropDown .member_nav button {
  background-color: #82cbc4;
  color: #fff;
  font-size: 1.25rem;
  padding: 7px 0;
  width: 100%;
  border: none;
  border-radius: 5px;
}

header ul.nav {
  background-color: #82cbc4;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 0 15px;
}
header ul.nav > li {
  margin-right: 30px;
  position: relative;
  padding: 20px 0;
}
header ul.nav > li:last-child {
  margin-right: 0;
}
header ul.nav > li a {
  color: #fff;
  text-decoration: none;
}
header ul.nav > li a:hover {
  opacity: 0.8;
}
header ul.nav > li > ul.sub_menu {
  position: absolute;
  top: 100%;
  left: -20px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  background-color: #82cbc4;
  font-size: 1.5rem;
  padding: 10px 5px;
  transform: scaleY(0);
  transform-origin: top;
  transition-duration: 0.3s;
  width: calc(100% + 40px);
  text-align: center;
  z-index: 2;
}
header ul.nav > li:hover > ul.sub_menu {
  transform: scaleY(1);
}
header ul.nav > li > ul.sub_menu > li {
  margin-bottom: 10px;
}
header ul.nav > li > ul.sub_menu > li:last-child {
  margin-bottom: 0;
}
@media (max-width: 1700px) {
  header ul.nav {
    font-size: 1.75rem;
  }
}
@media (max-width: 1500px) {
  header {
    border-width: 40px;
  }
  header .nav_top .logo {
    width: 130px;
  }
  header ul.nav {
    font-size: 1.5rem;
  }
  header ul.nav > li {
    margin-right: 20px;
  }
  header ul.nav > li > ul.sub_menu {
    font-size: 1.25rem;
  }
  header .nav_top ul.toolbar {
    font-size: 1.75rem;
  }
  header .nav_top ul.toolbar li {
    margin-right: 15px;
  }
  header .nav_top ul.toolbar li a span.num {
    width: 23px;
    height: 23px;
    font-size: 0.75rem;
  }
}
@media (max-width: 1300px) {
  header {
    border-width: 20px;
  }
  header .nav_top .logo {
    width: 110px;
  }
  header ul.nav {
    font-size: 1.25rem;
  }
  header ul.nav > li > ul.sub_menu {
    font-size: 1rem;
  }
}
@media (max-width: 1200px) {
  header {
    border-width: 10px;
  }
  header ul.nav {
    font-size: 1.25rem;
  }
  header ul.nav > li > ul.sub_menu {
    font-size: 1rem;
  }
}
@media (max-width: 1000px) {
  body::-webkit-scrollbar {
    width: 0;
  }
  header {
    border: none;
    background-color: #82cbc4;
    position: relative;
  }
  header .nav_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    position: unset;
  }
  header .nav_top .menu_btn {
    display: block;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }
  header .nav_top .logo {
    width: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  header .nav_top ul.toolbar {
    position: unset;
    top: unset;
    right: unset;
    border: none;
    font-size: 1.25rem;
    transform: translateY(0);
  }
  header .nav_top ul.toolbar li {
    position: unset;
    margin-right: 10px;
  }
  header .nav_top ul.toolbar li a {
    color: #fff;
  }
  header .nav_top ul.toolbar li a:hover {
    opacity: 0.8;
    color: #fff;
  }
  header .nav_top ul.toolbar li a span.num {
    background-color: #fff;
    color: #82cbc4;
    width: 20px;
    height: 20px;
    padding-left: 2px;
    margin-left: 0;
  }
  header .nav_top ul.toolbar li.active .dropDown {
    width: 100vw;
    top: calc(100% + 15px);
    right: -15px;
    padding: 10px 15px;
  }
  header .nav_top ul.toolbar li .dropDown .cart_info {
    padding-top: 10px;
  }

  header ul.nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    display: block;
    padding: 0;
    border-top: 1px solid #fff;
    transform: scaleY(0);
    transform-origin: top;
    transition-duration: 0.3s;
    z-index: 3;
  }
  header ul.nav.active {
    transform: scaleY(1);
  }
  header ul.nav > li {
    margin-right: 0;
    padding: 0;
  }
  header ul.nav > li > a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid #fff;
  }
  header ul.nav > li.sub > a::after {
    content: '\f0dd';
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
  }
  header ul.nav > li > ul.sub_menu {
    position: relative;
    left: 0;
    width: 100%;
    transform: scaleY(1);
    text-align: left;
    padding: 0;
    font-size: 1.25rem;
    display: none;
  }
  header ul.nav > li.active > ul.sub_menu {
    display: block;
  }
  header ul.nav > li > ul.sub_menu > li {
    margin-bottom: 0;
  }
  header ul.nav > li > ul.sub_menu > li > a {
    display: block;
    padding: 10px 36px;
    border-bottom: 1px solid #fff;
  }
  header ul.nav > li:last-child > ul.sub_menu > li:last-child > a {
    border: none;
  }
}

footer {
  background-color: #82cbc4;
  padding: 30px 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .foot_left {
  flex: 0 0 200px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 170px;
}
footer .foot_left .foot_logo {
  width: 150px;
  margin-bottom: 20px;
}
footer .foot_left .copyright {
  margin-bottom: 20px;
}
footer .foot_left ul.social {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  font-size: 2rem;
}
footer .foot_left ul.social li {
  margin-right: 20px;
}
footer .foot_left ul.social li:last-child {
  margin-right: 0;
}
footer .foot_left ul.social li a {
  color: #fff;
}
footer .foot_left ul.social li a:hover {
  opacity: 0.8;
}
footer .foot_right {
  display: flex;
  flex: 1;
}
footer .foot_right .column {
  flex: 1;
  margin-right: 50px;
}
footer .foot_right .column:last-child {
  margin-right: 0;
}
footer .foot_right .column .title {
  font-size: 1.35rem;
  color: #fff;
  padding: 0 20px 10px 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
}
footer .foot_right .column ul {
  padding-left: 20px;
  list-style: none;
  margin-bottom: 0;
  color: #fff;
}
footer .foot_right .column ul li {
  font-size: 1.35rem;
  margin-bottom: 10px;
}
footer .foot_right .column ul li i {
  width: 30px;
  margin-right: 10px;
}
footer .foot_right .column ul li a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
footer .foot_right .column ul li a:hover {
  opacity: 0.8;
}

@media (max-width: 1000px) {
  footer .container {
    flex-wrap: wrap;
  }
  footer .foot_left {
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  footer .foot_right {
    flex-wrap: wrap;
  }
  footer .foot_right .column {
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  footer .foot_right .column:last-child {
    margin-bottom: 0;
  }
  footer .foot_right .column .title {
    padding: 0 0 10px 0;
  }
  footer .foot_right .column ul {
    padding-left: 0;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  margin-bottom: 25px;
  margin-top: 40px;
}
.title ul.bread {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  padding-bottom: 10px;
}
.title ul.bread > li {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.title ul.bread > li::before {
  content: '';
  background: url(../images/common/arrow.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 100%;
  margin-right: 10px;
  font-size: 1.75rem;
}
.title ul.bread > li,
.title ul.bread > li a {
  font-size: 2rem;
  color: #333;
  text-decoration: none;
}
.title .right {
  display: flex;
  align-items: center;
}
.title .right .select {
  margin-right: 30px;
}
.title .right .select select {
  outline: none;
  padding: 3px 10px;
}
.title .right .product_total {
  margin-right: 30px;
  font-size: 0.75rem;
}
.title .right ul.tab_btns {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.title .right ul.tab_btns > li {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  cursor: pointer;
}
.title .right ul.tab_btns > li.active {
  background-color: #333;
  color: #fff;
}
.title .right ul.tab_btns > li:last-child {
  border-left: none;
}
@media (max-width: 1500px) {
  .title ul.bread > li,
  .title ul.bread > li a {
    font-size: 1.5rem;
  }
}
@media (max-width: 1200px) {
  .title {
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .title ul.bread > li::before {
    width: 20px;
  }
  .title ul.bread > li,
  .title ul.bread > li a {
    font-size: 1.25rem;
  }
}
@media (max-width: 800px) {
  .title {
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .title ul.bread > li {
    margin-right: 5px;
  }
  .title ul.bread > li::before {
    width: 15px;
    margin-right: 5px;
  }
  .title ul.bread > li ,.title ul.bread > li a {
    font-size: 1rem;
  }
  .title .right {
    flex: 0 0 100%;
    justify-content: flex-end;
    padding-bottom: 10px;
  }
  .title .right .select {
    margin-right: 20px;
  }
  .title .right .product_total {
    margin-right: 20px;
  }
}
.page {
  padding-bottom: 60px;
}
ul.pager {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
ul.pager li {
  background-color: #82cbc4;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}
ul.pager li.active {
  background-color: #6ea9a3;
}
ul.pager li.unable {
  background-color: #707070;
  cursor: not-allowed;
}
ul.pager li:hover {
  opacity: 0.8;
}


/*產品彈出*/
.pro_pop{
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  display: none;
  align-items: center;
  justify-content: center;
}
.pro_pop.active{
	display:flex;
}
.pro_pop .info {
  background-color: #fff;
  padding: 15px;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.pro_pop .info .close{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  cursor: pointer;
}
.pro_pop .info .img {
  width: 400px;
  flex: 0 0 400px;
  padding: 0 30px;
  margin-right: 50px;
}
.pro_pop .info .img .product_slider {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.pro_pop .info .img .product_slider .owl-stage-outer {
  z-index: 2;
}
.pro_pop .info .img .product_slider .owl-nav {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  font-size: 4rem;
  display: flex;
  justify-content: space-between;
}
.pro_pop .info .img .product_slider .owl-nav .owl-prev {
  transform: translateX(-30px);
}
.pro_pop .info .img .product_slider .owl-nav .owl-next {
  transform: translateX(30px);
}
.pro_pop .info .img .product_slider .owl-nav .owl-prev.disabled,
.pro_pop .info .img .product_slider .owl-nav .owl-next.disabled {
  color: #707070;
}
.pro_pop .info .img .img_list {
  display: flex;
  margin: 0 -10px;
}
.pro_pop .info .img .img_list .item {
  flex: 0 0 25%;
  padding: 0 10px;
}
.pro_pop .info .img .img_list .item .image {
  border: 1px solid #82cbc4;
  padding: 5px;
  cursor: pointer;
}
.pro_pop .info .img .img_list .item .image:hover {
  opacity: 0.8;
}
.pro_pop .info .text{
  flex: 0 0 calc(100% - 450px);
}
.pro_pop .info .text .name {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.pro_pop .info .text .feature {
  color: #82cbc4;
  font-size: 1.25rem;
  margin-bottom: 15px;
  font-weight: 700;
}
.pro_pop .info .text .desc {
  margin-bottom: 50px;
}
.pro_pop .info .text .price {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  line-height: 1;
}
.pro_pop .info .text .price .discount {
  color: #82cbc4;
  font-size: 1.65rem;
  margin-right: 5px;
}
.pro_pop .info .text .price .real {
  text-decoration: line-through;
}
.pro_pop .info .text .number {
  margin-bottom: 5px;
}
.pro_pop .info .text .brand {
  margin-bottom: 5px;
}
.pro_pop .info .text .brand a {
  color: #000;
}
.pro_pop .info .text .stock {
  margin-bottom: 5px;
}
.pro_pop .info .text .options {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.pro_pop .info .text .options > label {
  margin-bottom: 5px;
  flex: 0 0 100%;
}
.pro_pop .info .text .options .opt {
  margin-right: 5px;
}
.pro_pop .info .text .options .opt input[type='radio'] {
  display: none;
}
.pro_pop .info .text .options .opt label {
  padding: 2px 7px;
  border: 1px solid #333333;
  border-radius: 5px;
  cursor: pointer;
}
.pro_pop
  .info
  .text
  .options
  .opt
  input[type='radio']:checked
  + label {
  background-color: #82cbc4;
  border-color: #82cbc4;
  color: #fff;
}
.pro_pop .info .text .qty {
  display: flex;
  margin-bottom: 20px;
}
.pro_pop .info .text .qty .minus,
.pro_pop .info .text .qty .plus {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #707070;
  color: #707070;
  cursor: pointer;
}
.pro_pop .info .text .qty .minus:hover,
.pro_pop .info .text .qty .plus:hover {
  background-color: #707070;
  color: #fff;
}
.pro_pop .info .text .qty input[type='number'] {
  outline: none;
  border: 1px solid #707070;
  border-left: none;
  border-right: none;
  text-align: center;
  font-size: 1.5rem;
  width: 150px;
  color: #707070;
}
.pro_pop .info .text .btns {
  display: flex;
  flex-wrap: wrap;
}
.pro_pop .info .text .btns .cart_btn {
  flex: 1;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border: 1px solid #037469;
  border-radius: 5px;
  color: #037469;
  cursor: pointer;
}
.pro_pop .info .text .btns .cart_btn i {
  margin-right: 10px;
}
.pro_pop .info .text .btns .cart_btn:hover {
  background-color: #037469;
  color: #fff;
}
.pro_pop .info .text .btns .follow_btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border: 1px solid #037469;
  border-radius: 5px;
  color: #037469;
  cursor: pointer;
}
.pro_pop .info .text .btns .follow_btn i {
  margin-right: 10px;
}
.pro_pop .info .text .btns .follow_btn:hover {
  background-color: #037469;
  color: #fff;
}
.pro_pop .info .text .btns .buy_btn {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border: 1px solid #037469;
  border-radius: 5px;
  color: #037469;
  margin-top: 10px;
  cursor: pointer;
}
.pro_pop .info .text .btns .buy_btn i {
  margin-right: 10px;
}
.pro_pop .info .text .btns .buy_btn:hover {
  background-color: #037469;
  color: #fff;
}