@import url(./common.css);

.b_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 40px auto;
  text-align: center;
}
.b_title .inner {
  border-bottom: 1px solid #9f9090;
  padding: 0 20px 5px 20px;
}
.b_title .inner .name {
  font-size: 2.75rem;
  font-weight: 400;
  color: #707070;
}
.b_title .inner .s_name {
  font-size: 1.75rem;
  color: #ffa15a;
  font-weight: 600;
}
@media (max-width: 800px) {
  .b_title {
    margin: 0 auto 20px auto;
  }
  .b_title .inner .name {
    font-size: 2rem;
  }
  .b_title .inner .s_name {
    font-size: 1.25rem;
  }
}

/* 首頁banner */
.banner {
  margin-bottom: 45px;
}
@media (max-width: 800px) {
  .banner {
    margin-bottom: 20px;
  }
}
/* 首頁廣告 */
.index_adv {
  display: block;
  padding-bottom: 50px;
  margin-bottom: 70px;
  border-bottom: 1px solid #9f9090;
}
.index_adv .column {
  display: flex;
}
.index_adv .column a:hover {
  opacity: 0.8;
}
/* 一個 */
.index_adv .column.one a {
  flex: 1;
}
.index_adv .column.one a img {
  width: 100%;
}
/* 兩個 */
.index_adv .column.two a {
  margin-right: 10px;
}
.index_adv .column.two a:first-child {
  flex: 2;
}
.index_adv .column.two a:last-child {
  flex: 1;
  margin-right: 0;
}
/* 三個 */
.index_adv .column.three a {
  cursor: pointer;
}
.index_adv .column.three a:hover {
  opacity: 0.8;
}
.index_adv .column.three > a {
  flex: 3;
  margin-right: 10%;
}
.index_adv .column.three > span {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.index_adv .column.three > span > a:first-child {
  flex: 3;
  margin-bottom: 20%;
}
.index_adv .column.three > span > a:last-child {
  flex: 4;
}
/* 四個 */
.index_adv .column.four > span {
  flex: 2;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.index_adv .column.four > span:last-child {
  margin-right: 0;
}
.index_adv .column.four > span > a {
  margin-bottom: 10%;
}
.index_adv .column.four > span > a:last-child {
  margin-bottom: 0;
}
/* 五個 */
.index_adv .column.five a {
  cursor: pointer;
}
.index_adv .column.five a:hover {
  opacity: 0.8;
}
.index_adv .column.five > a {
  flex: 3;
  margin-right: 5%;
}
.index_adv .column.five > span {
  flex: 2;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.index_adv .column.five > span:last-child {
  margin-right: 0;
}
.index_adv .column.five > span:first-child a:first-child {
  flex: 3;
  margin-bottom: 18%;
}
.index_adv .column.five > span:first-child a:last-child {
  flex: 4;
}
.index_adv .column.five > span:last-child a:first-child {
  flex: 4;
  margin-bottom: 18%;
}
.index_adv .column.five > span:last-child a:last-child {
  flex: 3;
}
@media (max-width: 800px) {
  .index_adv {
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
  .index_adv .column {
    flex-wrap: wrap;
  }
  .index_adv .column a img {
    width: 100%;
  }

  .index_adv .column.two a {
    margin-right: 0;
  }
  .index_adv .column.two a:first-child {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
  .index_adv .column.two a:last-child {
    flex: 0 0 100%;
  }

  .index_adv .column.three > a {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
  .index_adv .column.three > span {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .index_adv .column.three > span > a:first-child {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
  .index_adv .column.three > span > a:last-child {
    flex: 0 0 100%;
  }

  .index_adv .column.four > span {
    flex: 0 0 100%;
    margin-right: 0;
  }
  .index_adv .column.four > span:first-child {
    margin-bottom: 20px;
  }
  .index_adv .column.four > span > a {
    margin-bottom: 20px;
  }

  .index_adv .column.five > span {
    flex: 0 0 100%;
    margin-right: 0;
  }
  .index_adv .column.five > span:first-child {
    margin-bottom: 20px;
  }
  .index_adv .column.five > span:first-child a:first-child {
    margin-bottom: 20px;
  }
  .index_adv .column.five > a {
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .index_adv .column.five > span:last-child a:first-child {
    margin-bottom: 20px;
  }
}

/* 首頁消息 */
.index_news {
  display: block;
  padding-bottom: 50px;
  margin-bottom: 70px;
  border-bottom: 1px solid #9f9090;
}
.index_news .list {
  display: flex;
  margin: 0 -15px;
}
.index_news .list .item {
  flex: 0 0 33.33%;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.index_news .list .item:hover {
  opacity: 0.8;
}
.index_news .list .item .inner {
  background-color: #f3f3f3;
  padding-bottom: 20px;
}
.index_news .list .item .inner .image {
  margin-bottom: 20px;
}
.index_news .list .item .inner .image img {
  width: 100%;
}
.index_news .list .item .inner .time {
  color: #000;
  margin-bottom: 10px;
  font-size: 0.85rem;
}
.index_news .list .item .inner .name {
  color: #000;
  padding: 0 20px;
  font-weight: 700;
}
@media (max-width: 800px) {
  .index_news {
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
  .index_news .list {
    flex-wrap: wrap;
  }
  .index_news .list .item {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

/* 首頁產品 */
.index_product {
  padding-bottom: 50px;
  margin-bottom: 70px;
  border-bottom: 1px solid #9f9090;
}
.index_product .list {
  display: flex;
  margin: 0 -15px;
}
.index_product .list .item {
  flex: 0 0 25%;
  padding: 0 15px;
  text-align: center;
  padding-bottom: 20px;
  text-decoration: none;
}
.index_product .list .item .image {
  cursor: pointer;
}
.index_product .list .item .image:hover {
  opacity: 0.8;
}
.index_product .list .item .image img {
  margin-bottom: 15px;
  width: 100%;
}
.index_product .list .item .name {
  display: block;
  padding: 0 30px;
  margin-bottom: 20px;
  text-decoration: underline;
  cursor: pointer;
  color: #333;
}
.index_product .list .item .name:hover {
  opacity: 0.8;
}
.index_product .list .item .price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  margin-bottom: 20px;
}
.index_product .list .item .price .discount {
  text-decoration: line-through;
  margin-right: 20px;
  font-weight: 400;
  color: #333333;
}
.index_product .list .item .price .real {
  color: #82cbc4;
}
.index_product .list .item .buy_btn {
  background-color: #82cbc4;
  color: #fff;
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 1.35rem;
  border-radius: 15px;
  font-weight: 300;
  cursor: pointer;
}
.index_product .list .item .buy_btn:hover {
  opacity: 0.8;
}
@media (max-width: 1000px) {
  .index_product .list .item .name {
    padding: 0 10px;
  }
  .index_product .list .item .price {
    font-size: 1rem;
  }
  .index_product .list .item .price .discount {
    margin-right: 10px;
  }
}
@media (max-width: 800px) {
  .index_product {
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
  .index_product .list {
    flex-wrap: wrap;
  }
  .index_product .list .item {
    flex: 0 0 50%;
  }
  .index_product .list .item .price {
    font-size: 1rem;
    flex-direction: column;
  }
  .index_product .list .item .price .discount {
    margin-right: 0;
  }
  .index_product .list .item .buy_btn {
    width: 120px;
    font-size: 1.1rem;
  }
}

/* 首頁品牌 */
.index_brand {
  padding-bottom: 50px;
  margin-bottom: 70px;
  border-bottom: 1px solid #9f9090;
}
.index_brand .list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -45px -60px -45px;
  padding-top: 20px;
}
.index_brand .list .item {
  flex: 0 0 25%;
  padding: 0 45px;
  margin-bottom: 60px;
}
.index_brand .list .item .image {
  cursor: pointer;
}
.index_brand .list .item .image:hover {
  opacity: 0.8;
}
.index_brand .list .item .image img {
  width: 100%;
}
@media (max-width: 1350px) {
  .index_brand .list {
    margin: 0 -15px -40px -15px;
  }
  .index_brand .list .item {
    flex: 0 0 25%;
    padding: 0 15px;
    margin-bottom: 40px;
  }
}
@media (max-width: 800px) {
  .index_brand {
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
  .index_brand .list {
    margin: 0 -15px -40px -15px;
  }
  .index_brand .list .item {
    flex: 0 0 50%;
    padding: 0 15px;
    margin-bottom: 40px;
  }
}

/* 首頁icon */
.index_icon {
  display: flex;
  padding-bottom: 45px;
}
.index_icon .item {
  flex: 0 0 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index_icon .item .icon {
  background-color: #82cbc4;
  width: 107px;
  height: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  border-radius: 100%;
  color: #fff;
  margin-bottom: 45px;
}
@media (max-width: 800px) {
  .index_icon {
    flex-wrap: wrap;
  }
  .index_icon .item {
    flex: 0 0 100%;
    margin-bottom: 40px;
  }
  .index_icon .item:last-child {
    margin-bottom: 0;
  }
  .index_icon .item .icon {
    margin-bottom: 20px;
  }
}
